# tasks file for roles/prometheus
- name: Create Prometheus Group
  ansible.builtin.group:
    name: "{{ prometheus_group }}"
    system: yes

- name: Create Prometheus User
  ansible.builtin.user:
    name: "{{ prometheus_user }}"
    group: "{{ prometheus_group }}"
    system: yes
    createhome: no

- name: Download Prometheus Binary
  get_url:
    url: "{{ prometheus_download_url }}"
    dest: "/tmp/prometheus.tar.gz"

- name: Unarchive Prometheus Binary
  unarchive:
    src: "/tmp/prometheus.tar.gz"
    dest: "/tmp"
    remote_src: yes
    creates: "{{ prometheus_home }}"

- name: Move Prometheus to /usr/local/bin
  copy:
    src: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64/prometheus"
    dest: "/usr/local/bin/prometheus"
    mode: '0755'
    remote_src: yes

- name: Ensure Prometheus Home Directory Exists
  ansible.builtin.file:
    path: "{{ prometheus_home }}"
    state: directory
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_group }}"
    mode: '0755'

- name: Copy Prometheus Configuration
  template:
    src: prometheus.yml.j2
    dest: "{{ prometheus_home }}/prometheus.yml"
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_group }}"
    mode: '0644'


- name: Ensure Prometheus Service
  template:
    src: "prometheus.service.j2"
    dest: "/etc/systemd/system/prometheus.service"
  notify: restart prometheus

- name: Start Prometheus Service
  service:
    name: prometheus
    state: started
    enabled: yes
